transcript
c5_pin_model_dump.txt
*.mti
*.mpf
*.wlf
*.qdb
*.qpg
*.qtl
*.bak
*.qws
*.o
*.srec
*.cmp
*.ppf
*.f
*.spd
*.sip
*.axf*
*.sw[a-z]
tags
work/
db/
incremental_db/
output_files/
.qsys_edit/
greybox_tmp/
